{
    "env": {
        "esm": {
            "presets": [
                ["@babel/preset-env", {
                    "modules": false,
                    "targets": { "browsers": ["since 2018"] }
                }]
            ]
        }
    },
    "env": {
        "iife": {
            "presets": [
                ["@babel/preset-env", {
                    "modules": false,
                    "targets": { "browsers": ["> 0.5%"] }
                }]
            ]
        }
    }
}
