@mobile: ~'(max-width: 768px)';
@tabletPlus: ~'(min-width: 769px)';
@tablet: ~'(min-width: 769px) and (max-width: 991px)';
@upToTablet: ~'(max-width: 991px)';
@desktopPlus: ~'(min-width: 992px)';
@desktop: ~'(min-width: 992px) and (max-width: 1199px)';
@desktopXLPlus: ~'(min-width: 1200px)';

@x2: ~'(min-resolution: 192dpi)';

// font sizes
@textXS: 10px;
@textS: 13px;
@textM: 16px;
@textL: 20px;
@textXL: 25px;
@textXXL: 30px;

// font weights
@textNormal: 400;
@textStrong: 700;

// colors
@white: hsl(0, 0%, 100%);
@black: hsl(0, 0, 0);
