* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    padding: 0;
    margin: 0;
}

button, input, textarea {
    font-family: inherit;
    font-size: inherit;
}

input[type=search] {
    -webkit-appearance: none;
}
